KageSans.png RESOURCE "assets/KageSans.png"
tile.png RESOURCE "assets/tile.png"
character.png RESOURCE "assets/character.png"
level1.tmx RESOURCE "assets/level1.tmx"
Hit0.wav  RESOURCE "assets/Hit0.wav"
Hit1.wav  RESOURCE "assets/Hit1.wav"
Hit2.wav  RESOURCE "assets/Hit2.wav"
Hit3.wav  RESOURCE "assets/Hit3.wav"
Hit4.wav  RESOURCE "assets/Hit4.wav"
Hit5.wav  RESOURCE "assets/Hit5.wav"
Hit6.wav  RESOURCE "assets/Hit6.wav"
Hit7.wav  RESOURCE "assets/Hit7.wav"
Hit8.wav  RESOURCE "assets/Hit8.wav"
Hit9.wav  RESOURCE "assets/Hit9.wav"
Hit10.wav RESOURCE "assets/Hit10.wav"
Hit11.wav RESOURCE "assets/Hit11.wav"
Hit12.wav RESOURCE "assets/Hit12.wav"
Hit13.wav RESOURCE "assets/Hit13.wav"
Hit14.wav RESOURCE "assets/Hit14.wav"
Hit15.wav RESOURCE "assets/Hit15.wav"
Hit16.wav RESOURCE "assets/Hit16.wav"
Hit17.wav RESOURCE "assets/Hit17.wav"
rage.mod RESOURCE "assets/rage.mod"
